<head>
  <link rel="stylesheet" type="text/css" href="foundation.css">
</head>
<div class="row">
  <div class="small-12 columns text-center">
    <div class="container">
        <div class="inner">Score: </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
      <div class="row">
        <div class="small-12 columns text-center">
          <div class="status">
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center cardArea">
      <div class="row">
        <div class="small-12 columns text-center">
          <div class="dealers">
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center cardArea">
      <div class="row">
        <div class="small-12 columns text-center">
          <div class="players">
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center buttons">
    <button class="large button expand play">Play</button>
  </div>
</div>

<script type="text/javascript" src="jquery-2.1.3.js"></script>
<script type="text/javascript" src="blackjack.js"></script>
